<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>简易聊天室</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/css/bootstrap.min.css" />
</head>

<body>

  <%- include('./commons/navbar') %>

  <div class="container my-5">
    <h1 style="color: greenyellow;">Welcome to Lu Zhangfeng chat room...</h1>
    <h2 style="margin: 60px; color: indianred;">快去点击上方 聊天室 按钮，进入聊天室吧！！！</h2>
  </div>

  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>